<!--
  ~ Copyright (C) 2009-2016 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Play uses if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %coloredLevel %logger{25} %t - %message%n%xException{20}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="play" level="INFO" />
    <logger name="play.api.libs.mailer" level="DEBUG" />
    <logger name="application" level="WARN" />
    <!--<logger name="slick.jdbc.JdbcBackend.statement" level="DEBUG"/>-->
    <logger name="slick.jdbc.JdbcBackend.statement"  level="WARN" /> <!-- Will log all statements -->
    <logger name="akka.event.slf4j.Slf4jLogger"  level="WARN" /> <!-- Will log all statements -->
    <logger name="com.zaxxer.hikari"  level="WARN" /> <!-- Will log all statements -->
    <logger name="schedule-repo" level="INFO" />
    <logger name="com.fijimf" level="INFO" />
    <logger name="controllers" level="INFO" />
    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

</configuration>
