.condensed-page-header {
    padding-bottom: 3px;
    margin: 20px 0 5px;
    border-bottom: 1px solid #eee;
}

.quote {
    position: absolute;
    left: 225px;
    top:20px;
    width: 100%;
    color: #bbb;
    font-size: 90%;
    font-weight: lighter;

}

.table-schedule {
    font-size: smaller;
}

.table-schedule td {
    padding: 0px;
    margin: 0px;
}

.stat-summary-table td {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    text-align: right;
}

.stat-summary-table th {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    text-align: right;
}

.teamlist {
    list-style: none;
    font-size: small;
}

.panel-heading  a{
    text-decoration: none;
    color: inherit;
}

.panel-heading  a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:"\f054";
}
.panel-heading  a[aria-expanded="false"]:before {
    content:"\f054";
}
.panel-heading  a[aria-expanded="true"]:before {
    content:"\f078";
}