.condensed-page-header {
    padding-bottom: 3px;
    margin: 20px 0 5px;
    border-bottom: 1px solid #eee;
}

.quote {
    position: absolute;
    left: 225px;
    top:20px;
    width: 100%;
    color: #bbb;
    font-size: 100%;
    font-weight: normal;

}

.table-schedule {
    font-size: smaller;
}

.table-schedule td {
    padding: 0px;
    margin: 0px;
}

.stat-summary-table td {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    text-align: right;
}

.stat-summary-table th {
    padding: 0px;
    margin: 0px;
    font-size: 80%;
    text-align: right;
}

.teamlist {
    list-style: none;
    font-size: small;
}

.panel-heading  a{
    text-decoration: none;
    color: inherit;
}

.panel-heading  a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:"\f054";
}
.panel-heading  a[aria-expanded="false"]:before {
    content:"\f054";
}
.panel-heading  a[aria-expanded="true"]:before {
    content:"\f078";
}

img.spin:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 3;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.jumbofridge {
    background: #780206; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #780206 , #061161); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #780206 , #061161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 35px;
}

.jumbofridge h1{
    color: white;
    font-size: 128px;
    font-weight: bold;
}