.condensed-page-header {
    padding-bottom: 3px;
    margin: 20px 0 5px;
    border-bottom: 1px solid #eee;
}

.quote {
    position: absolute;
    left: 225px;
    top:20px;
    width: 100%;
    color: #bbb;
    font-size: 90%;
    font-weight: lighter;

}

.table-schedule {
    font-size: smaller;
}

.table-schedule td {
    padding: 0px;
    margin: 0px;
}

.teamlist {
    list-style: none;
    font-size: small;
}