@(stats:List[ModelTeamContext])

<h5>Modeled Statistics</h5>
<div class="panel">
    <table class="table table-sm table-schedule" >
        <thead><tr>
            <th>Stat</th>
            <th>Value</th>
            <th>Rank</th>
            <th>Z-Score</th>
            <th></th>
            <th></th>
        </tr>
        </thead><tbody>
        @for(tm <- stats) {
            <tr>
                <td>@tm.display </td>
                <td>@tm.str </td>
                <td>@tm.rkStr </td>
                <td>@tm.zStr </td>
                <td><a href="popup-histogram-graph"><span class="fa fa-chart-bar"></a></span></td>
                <td><a href="popup-timeseries-graph"><span class="fa fa-chart-line"></a></span></td>
            </tr>
    }
    </tbody>
    </table>
</div>