@import java.time.format.DateTimeFormatter

@import com.fijimf.deepfij.models.Team
@import controllers.Utils._
@(team:Team, stats:List[ModelTeamContext])

<h5>Modeled Statistics</h5>
<div class="panel">
    <table class="table table-sm table-schedule" >
        <thead><tr>
            <th>Stat</th>
            <th>Value</th>
            <th>Rank</th>
            <th>Z-Score</th>
            <th></th>
            <th></th>
        </tr>
        </thead><tbody>
        @for(tm <- stats) {
            <tr>
                <td>@tm.display </td>
                <td>@tm.str </td>
                <td>@tm.rkStr </td>
                <td>@tm.zStr </td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#hist-modal-@tm.key">
                        <span class="fa fa-chart-bar"></span>
                    </a>
                    <div class="modal fade" id="hist-modal-@tm.key" tabindex="-1" role="dialog" aria-labelledby="#hist-modal-@tm.key-label" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="hist-modal-@tm.key-label">@tm.display</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"><div class="container-fluid" >
                                    <div class="col-md-12 ml-auto">
                                        <img
                                        src="@routes.StatController.histogram(tm.seasonId, tm.key, tm.date.yyyymmdd.toInt, 200.0,150.0)"
                                            style="width: 100%; height:auto"
                                        />
                                    </div>
                                </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a  href="#" data-toggle="modal" data-target="#series-modal-@tm.key">
                        <span class="fa fa-chart-line"></span>
                    </a>
                    <div class="modal fade" id="series-modal-@tm.key" tabindex="-1" role="dialog" aria-labelledby="#series-modal-@tm.key-label" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="series-modal-@tm.key-label">@tm.display</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"><div class="container-fluid" >
                                    <div class="col-md-12 ml-auto">
                                        <img
                                        src="@routes.StatController.timeSeries(tm.seasonId, tm.key, team.id, 200.0,150.0)"
                                        style="width: 100%; height:auto"
                                        />
                                    </div>
                                </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
    }
    </tbody>
    </table>
</div>