@import com.fijimf.deepfij.models.{Quote, User}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: User, qs: List[Quote])(implicit flash: Flash)
@main(
    "deepfij",
    "Browse Quotes",
    "",
    Some(Breadcrumbs.base.appendChild("Admin", "/admin", "fa-wrench").appendChild("Browse Quotes", "fa-wrench", "browseQuotes")),
    StandardNavBar.active("admin",Some(user)), Some(user)
) {
    <div class="row">
        <div class="col-sm-3">
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.createQuote()">Create Quote</a></p>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-bordered">
                <thead><tr>
                    <th>Quote</th>
                    <th>Source</th>
                    <th>URL</th>
                    <th></th>
                    <th></th>
                </tr></thead>
                <tbody >
                @for(q <- qs) {
                    <tr>
                        <td>@q.quote</td>
                        <td>@q.source</td>
                        <td>@q.url</td>
                        <td ><a href="@routes.DataController.editQuote(q.id)"><i class="fa fa-edit text-success"> </i></a> </td>
                        <td ><a href="@routes.DataController.deleteQuote(q.id)"><i class="fa fa-times text-danger"> </i></a> </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
