@import com.fijimf.deepfij.models.{Alias, User}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: User, qs: List[Alias])(implicit flash: Flash)
@main(
    "deepfij",
    "Browse Aliases",
    "",
    Some(Breadcrumbs.base.appendChild("Admin", "/admin", "fa-wrench").appendChild("Browse Quotes", "fa-wrench", "browseQuotes")),
    StandardNavBar.active("admin"), Some(user)
) {
    <div class="row">
        <div class="col-sm-3">
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.createAlias()">Create Alias</a></p>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-bordered">
                <thead><tr>

                    <th>Source</th>
                    <th>URL</th>
                    <th></th>
                    <th></th>
                </tr></thead>
                <tbody >
                @for(q <- qs) {
                    <tr>

                        <td>@q.key</td>
                        <td>@q.alias</td>
                        <td ><i class="fa fa-edit text-success"> </i> </td>
                        <td ><i class="fa fa-times text-danger"> </i> </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
