@import controllers.nav.Breadcrumbs
@import controllers.nav.StandardNavBar
@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Conference
@(user:User,conferences:List[Conference])(implicit flash: Flash)
@main(
    "deepfij",
    "Browse Conferences",
    "",
    Some(Breadcrumbs.base.appendChild("Admin","/admin","fa-wrench").appendChild("Browse Conferencess","fa-wrench","browseConference")),
    StandardNavBar.active("admin"), Some(user)
) {
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-bordered">
               <thead><tr>
                   <th style="width:40px;"></th>
                   <th>Name</th>
                   <th>Key</th>
                   <th><i class="fa fa-link"></i></th>
                   <th><i class="fa fa-twitter"></i></th>
                   <th><i class="fa fa-facebook"></i></th>
                   <th><i class="fa fa-edit"></i></th>
               </tr></thead>
                <tbody >
                    @for(c<-conferences){
                        <tr>
                            <td style="padding: 0;"><img style="border: 0; background-color:999;" src=@c.logoLgUrl.getOrElse("") /> </td>
                            <td style="vertical-align: middle"><a href="/deepfij/admin/editTeam/@c.id">@c.name</a></td>
                            <td style="vertical-align: middle">@c.key</td>
                            <td style="vertical-align: middle">@{if (c.officialUrl.isDefined) <i class="fa fa-check text-success" style="color: green"></i> else <i class="fa fa-times text-danger" style="color:red"></i>}</td>
                            <td style="vertical-align: middle">@{if (c.officialTwitter.isDefined) <i class="fa fa-check text-success" style="color: green"></i> else <i class="fa fa-times text-danger" style="color:red"></i>}</td>
                            <td style="vertical-align: middle">@{if (c.officialFacebook.isDefined) <i class="fa fa-check text-success" style="color: green"></i> else <i class="fa fa-times text-danger" style="color:red"></i>}</td>
                            <td style="vertical-align: middle">@{if (c.lockRecord) <i class="fa fa-lock"></i> else <i class="fa fa-unlock"></i>}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
