@import com.fijimf.deepfij.models.Quote
@import com.fijimf.deepfij.model.auth.User
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper,  qs: List[Quote])(implicit request: RequestHeader, flash: Flash)
@main3000(displayUser,quoteWrapper) {
    <div class="row">
        <div class="col-sm-3">
            <p><a class="btn btn-small btn-block btn-default" href="@routes.DataController.createQuote()">Create Quote</a></p>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm table-bordered">
                <thead><tr>
                    <th>Quote</th>
                    <th>Source</th>
                    <th>URL</th>
                    <th>Key</th>
                    <th></th>
                    <th></th>
                </tr></thead>
                <tbody >
                @for(q <- qs) {
                    <tr>
                        <td>@q.quote</td>
                        <td>@q.source</td>
                        <td>@q.url</td>
                        <td>@q.key</td>
                        <td ><a href="@routes.DataController.editQuote(q.id)"><i class="fa fa-edit text-success"> </i></a> </td>
                        <td ><a href="@routes.DataController.deleteQuote(q.id)"><i class="fa fa-times text-danger"> </i></a> </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
