@import controllers.nav.Breadcrumbs
@import controllers.nav.MainMeta
@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.GameInfo
@import java.time.format.DateTimeFormatter
@import org.apache.commons.lang3.StringUtils
@(user:User,gs:List[GameInfo], q:Option[String])(implicit request: RequestHeader, flash: Flash)
@mainX(
    MainMeta.base("Browse Games", Some(user))
            .withNav("admin")
            .withCrumbs(Breadcrumbs.admin.appendLeaf("Browse Games"))
){
    <div class="row">
        <div class="col-md-12">
            <form class="navbar-form" role="search">
                <div class="input-group add-on">
                    <input class="form-control " placeholder="Search" name="query" id="query" type="text" value="@{q.getOrElse("")}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Showing @{gs.size} games.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-smushed table-bordered table-striped">
               <thead><tr>
                   <th>S</th>
                   <th>ID</th>
                   <th>Res</th>
                   <th>Game Time</th>
                   <th>Home</th>
                   <th></th>
                   <th>Away</th>
                   <th></th>
                   <th>P</th>
                   <th>Ntr</th>
                   <th>Loc</th>
                   <th>Tourney</th>
                   <th>Source</th>
                   <th>Updated</th>
               </tr></thead>
                <tbody >
                    @for(g<-gs){
                        <tr>
                            <td>@g.seasonId</td>
                            <td><a href="@routes.DataController.editGame(g.id)">@g.id</a></td>
                            <td>@{g.resultId.map(_.toString).getOrElse("")}</td>
                            <td>@{g.datetime.format(DateTimeFormatter.ISO_LOCAL_DATE_TIME)}</td>
                            <td>@g.homeTeamName</td>
                            <td>@{g.homeTeamScore.map(_.toString).getOrElse("")}</td>
                            <td>@g.awayTeamName</td>
                            <td>@{g.awayTeamScore.map(_.toString).getOrElse("")}</td>
                            <td>@{g.periods.map(_.toString).getOrElse("")}</td>
                            <td>@{if (g.isNeutralSite) "Y" else "N"}</td>
                            <td>@{StringUtils.abbreviate(g.location,24)}</td>
                            <td>@{s"${g.tourney} [${g.homeSeed.map(_.toString).getOrElse("")} v. ${g.awaySeed.map(_.toString).getOrElse("")}]"} </td>
                            <td>@g.source &emsp;
                                @for(su<-g.sourceUrl) {
                                    <a href="@su" target="_blank">
                                        <span class="fa fa-eye"></span> &emsp;
                                    </a>
                                }
                                @for(dk<-g.sourceDate) {
                                    <a href="@routes.GameScrapeController.scrapeForDay(dk.format(DateTimeFormatter.ofPattern("yyyyMMdd")))">
                                        <span class="fa fa-refresh"></span>
                                    </a>
                                }
                            </td>
                            <td>@{g.updatedAt.format(DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm"))}</td>
                            <td><a href="@routes.DataController.deleteGame(g.id)"><span class="fa fa-times text-danger"></span></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
