@import com.fijimf.deepfij.models.Alias
@import com.fijimf.deepfij.model.auth.User
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper, as: List[Alias])(implicit request: RequestHeader, flash: Flash)
@main3000(displayUser,quoteWrapper) {
    <div class="row">
        <div class="col-sm-3">
            <p><a class="btn btn-small btn-block btn-default" href="@routes.DataController.createAlias()">Create Alias</a></p>
        </div>
        <div class="col-sm-3">
            <p><a class="btn btn-small btn-block btn-default" href="@routes.DataController.initializeAliases()">Initialize Aliases</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm table-bordered">
                <thead><tr>

                    <th>Scraped non-standard value</th>
                    <th>Team key to use</th>
                    <th></th>
                    <th></th>
                </tr></thead>browseTeams
                <tbody >
                @for(a <- as) {
                    <tr>

                        <td>@a.alias</td>
                        <td>@a.key</td>
                        <td class="text-center"><a href="@routes.DataController.editAlias(a.id)"><i class="fa fa-edit text-success"> </i></a></td>
                        <td class="text-center"><a href="@routes.DataController.deleteAlias(a.id)"><i class="fa fa-times text-danger"> </i></a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
