@import controllers.nav.Breadcrumbs
@import controllers.nav.MainMeta
@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Team
@import helper._

@(user:User, seasonForm: Form[forms.EditAliasForm.Data])(implicit request:RequestHeader, flash: Flash, messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@mainX( MainMeta.base("Edit Alias", Some(user))
        .withNav("admin")
        .withCrumbs(Breadcrumbs.admin.appendLeaf("Edit Alias"))
){
    <div class="row">
        <div class="col-sm-8">
            @b3.form(routes.DataController.saveAlias()) {
                @CSRF.formField
                @b3.hidden( "id", seasonForm("id").value.getOrElse(""), '_label -> "ID" )
                @b3.text( seasonForm("alias"), '_label -> "Scraped Non-standard Value" )
                @b3.text( seasonForm("key"), '_label -> "Actual Key to Use" )
                @b3.submit('class -> "btn btn-default"){ Submit }
            }
        </div>
    </div>
}