@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Team
@import helper._
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper, seasonForm: Form[forms.EditAliasForm.Data])(implicit request:RequestHeader, flash: Flash, messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

    @main3000(displayUser,quoteWrapper) {
    <div class="row">
        <div class="col-sm-8">
            @b3.form(routes.DataController.saveAlias()) {
                @CSRF.formField
                @b3.hidden( "id", seasonForm("id").value.getOrElse(""), '_label -> "ID" )
                @b3.text( seasonForm("alias"), '_label -> "Scraped Non-standard Value" )
                @b3.text( seasonForm("key"), '_label -> "Actual Key to Use" )
                @b3.submit('class -> "btn btn-default"){ Submit }
            }
        </div>
    </div>
}