@import com.fijimf.deepfij.models.Season
@import com.fijimf.deepfij.models.Conference
@import com.fijimf.deepfij.models.Team
@(s:Season, c:Conference, t:Team, cs:List[Conference])

<div id="@{"move-"+s.id+"-"+t.id+"-"+c.id}" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Move Conference Mapping</h5>
                <button  class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Move <strong>@t.name</strong> from <strong>@c.name</strong> to
                    <select id="@{"select-"+s.id+"-"+c.id+"-"+t.id}" onchange='moveConferenceMap("@routes.DataController.moveConferenceMapping(s.id, 0, t.id)", @s.id, @c.id, @t.id)' >
                    @for(cc<-cs){
                        @if(cc.id==c.id) {
                            <option value="@cc.id" selected>@cc.name</option>
                        }else{
                            <option value="@cc.id">@cc.name</option>
                        }
                    }
                </select>
                </p>
            </div>
            <div class="modal-footer">
                <a  class="btn btn-danger" id="@{"move-"+s.id+"-"+c.id+"-"+t.id}" href="@routes.DataController.moveConferenceMapping(s.id, c.id, t.id)">Move</a>
                <button  data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>

</div>

