@import com.fijimf.deepfij.models.Game
@import com.fijimf.deepfij.model.auth.User
@import helper._
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper,  game: Game, gameForm: Form[forms.EditGameForm.Data], teamData: List[(String, String)])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@implicitFieldConstructor = @{
    b3.inline.fieldConstructor
}

    @main3000(displayUser,quoteWrapper) {

        <div class="col-sm-12">
        @b3.form(routes.DataController.saveGame()) {
            <div class="row">
                @CSRF.formField
                @b3.hidden("id", gameForm("id").value.getOrElse(""), '_label -> "ID")
                @b3.hidden("seasonId", gameForm("seasonId").value.getOrElse(""), '_label -> "SeasonID")
                @b3.select(gameForm("homeTeamId"), options = teamData, '_label -> "Home Team", '_class -> "col-sm-6 deepfij75-25-input")
                @b3.number(gameForm("homeTeamScore"), '_label -> "Home Score", '_class -> "col-sm-3 deepfij50-50-input")
                @b3.select(gameForm("awayTeamId"), options = teamData, '_label -> "Away Team", '_class -> "col-sm-6 deepfij75-25-input")
                @b3.number(gameForm("awayTeamScore"), '_label -> "Away Score", '_class -> "col-sm-3 deepfij50-50-input")
            </div>
            <div class="row">
                @b3.datetime(gameForm("datetime"), '_label -> "Date Time", '_class -> "col-sm-6 deepfij75-25-input")
                @b3.number(gameForm("periods"), '_label -> "Num Periods", '_class -> "col-sm-3 deepfij50-50-input")
            </div>
            <div class="row">
                @b3.text(gameForm("location"), '_label -> "Location", '_class -> "col-sm-6 deepfij75-25-input")
            </div>
            <div class="row">
                @b3.checkbox(gameForm("isNeutral"), '_label -> "Neutral", '_class -> "col-sm-6 deepfij75-25-input")
            </div>
            <div class="row">
                @b3.text(gameForm("tourney"), '_label -> "Tourney?", '_class -> "col-sm-6 deepfij75-25-input")
            </div>
            <div class="row">
                @b3.text(gameForm("sourceKey"), '_label -> "Source", '_class -> "col-sm-6 deepfij75-25-input")
            </div>
            <div class="row">
                <div class="col-sm-2">
                @b3.submit('class -> "btn btn-lg btn-success") { Submit }
                </div>
            </div>
        }
        </div>

}
