@import controllers.nav.Breadcrumbs
@import controllers.nav.MainMeta
@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Team
@import helper._
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper, team:Team, teamForm: Form[forms.EditTeamForm.Data])(implicit request:RequestHeader, flash: Flash, messages: Messages)

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

    @main3000(displayUser,quoteWrapper) {
    <div class="row">
        <div class="col-sm-8">
            @b3.form(routes.DataController.saveTeam()) {
                @CSRF.formField
                @b3.hidden( "id", teamForm("id").value.getOrElse(""), '_label -> "ID" )

                @b3.text( teamForm("key"), '_label -> "Key" )
                @b3.text( teamForm("name"), '_label -> "Name" )
                @b3.text( teamForm("longName"), '_label->"Long Name" )
                @b3.text( teamForm("nickname"), '_label->"Nickname" )
                @b3.text( teamForm("optConference"), '_label->"Conference (Curr)" )
                @b3.text( teamForm("logoSmUrl"), '_label->"Small Logo" )
                @b3.text( teamForm("logoLgUrl"), '_label->"Large Logo" )
                @b3.text( teamForm("primaryColor"), '_label -> "Color #1")
                @b3.text( teamForm("secondaryColor"), '_label -> "Color #2")
                @b3.text( teamForm("officialUrl"), '_label->"Official URL" )
                @b3.text( teamForm("officialTwitter"), '_label->"Twitter" )
                @b3.text( teamForm("officialFacebook"), '_label->"Facebook" )
                @b3.submit('class -> "btn btn-default"){ Submit }
            }
        </div>
        <div>
        <div class="d-inline-flex ">
            <div style='background-image: url(/assets/images/concrete_seamless.png); background-repeat: repeat; padding:3px; border:1px solid;'>
            <img style='margin:0;padding:0; border:0; background-color: @teamForm("primaryColor").value.getOrElse("#FFF")' src=@teamForm("logoSmUrl").value.getOrElse("#") >
            <img style='margin:0;padding:0; border:0; background-color: @teamForm("secondaryColor").value.getOrElse("#FFF")' src=@teamForm("logoSmUrl").value.getOrElse("#") >
            <img style='margin:0;padding:0; border:0; background-color: #222' src=@teamForm("logoSmUrl").value.getOrElse("#") >
            <img style='margin:0;padding:0; border:0; background-color: rgba(255,255,255, 0.4)' src=@teamForm("logoSmUrl").value.getOrElse("#") >
            <img style='margin:0;padding:0; border:0; background-color: #FFF;' src=@teamForm("logoSmUrl").value.getOrElse("/assets/images/no_url.png") >
        </div>
        </div>
    </div>
}
