@import com.fijimf.deepfij.models.{Game, User}
@import controllers.nav.{Breadcrumbs, MainMeta}
@import helper._

@(user: User, game: Game, gameForm: Form[forms.EditGameForm.Data], teamData: List[(String, String)])(implicit request: RequestHeader, flash: Flash, messages: Messages)

@implicitFieldConstructor = @{
    b3.inline.fieldConstructor
}

@mainX(MainMeta.base(s"Game ${game.id}", Some(user))
        .withNav("admin")
        .withCrumbs(Breadcrumbs.admin
        .appendChild("Games", "/browseGames", "fa-eyeball")
        .appendLeaf(s"Game ${game.id}"))
) {

        <div class="col-sm-12">
        @b3.form(routes.DataController.saveGame()) {
            @CSRF.formField
            @b3.hidden("id", gameForm("id").value.getOrElse(""), '_label -> "ID")
            @b3.hidden("seasonId", gameForm("seasonId").value.getOrElse(""), '_label -> "SeasonID")
            @b3.select(gameForm("homeTeamId"), options = teamData, '_label -> "Home Team", '_class -> "col-sm-7 deepfij75-25-input")
            @b3.number(gameForm("homeTeamScore"), '_label -> "Home Score", '_class -> "col-sm-5 deepfij75-25-input")
            @b3.select(gameForm("awayTeamId"), options = teamData, '_label -> "Away Team", '_class -> "col-sm-7 deepfij75-25-input")
            @b3.number(gameForm("awayTeamScore"), '_label -> "Away Score", '_class -> "col-sm-5 deepfij75-25-input")
            @b3.datetime(gameForm("datetime"), '_label -> "Date Time", '_class -> "col-sm-4 deepfij75-25-input")
            @b3.number(gameForm("periods"), '_label -> "Num Periods", '_class -> "col-sm-4 deepfij75-25-input")
            @b3.checkbox(gameForm("isNeutral"), '_label -> "Neutral", '_class -> "col-sm-4 deepfij75-25-input")
            @b3.text(gameForm("tourney"), '_label -> "Tourney?", '_class -> "col-sm-4 deepfij75-25-input")
            @b3.text(gameForm("sourceKey"), '_label -> "Source", '_class -> "col-sm-4-offset-2 deepfij75-25-input")
            @b3.submit('class -> "btn btn-default") { Submit }
        }
        </div>

}
