@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Schedule
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@import helper._
@import java.time.format.DateTimeFormatter
@(user: Option[User], userList: List[User], schedules:List[Schedule])(implicit flash: Flash)
@main(
    "deepfij",
    "Admin",
    "",
    Some(Breadcrumbs.base.appendChild("Admin", "/admin", "fa-wrench")),
    StandardNavBar.active("admin"), user
) {

    <div class="row">
        <div class="col-sm-3">
            <div class="page-header-condensed">
                <h4>Database Ops</h4>
            </div>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.SchemaController.dumpSchema()">
                Show Schedule Schema</a></p>
            <p><button type="button" class="btn btn-small btn-block btn-default" data-toggle="modal" data-target="#confirm-schedule-drop-create">
                Drop/Create Schedule DB&nbsp;&nbsp;<i class="fa text-danger fa-exclamation-circle"> </i></button></p>

            <div id="confirm-schedule-drop-create" class="modal fade" id="myModal" tabindex="-1" role="dialog" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <p>This will drop and recreate the schedule database.  This cannot be undone.</p>
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" id="delete" href="@routes.SchemaController.dropCreateSchema()">
                                Drop/Create</a>
                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.SchemaController.dumpUserSchema()">
                Show User Schema</a></p>
            <p><button type="button" class="btn btn-small btn-block btn-default" data-toggle="modal" data-target="#confirm-user-drop-create">
                Drop/Create User DB&nbsp;&nbsp;<i class="fa text-danger fa-exclamation-circle"></i></button></p>

            <div id="confirm-user-drop-create" class="modal fade" id="myModal" tabindex="-1" role="dialog" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title">Confirm</h3>
                        </div>
                        <div class="modal-body">
                            <p>This will drop and recreate the user database.  This cannot be undone.</p>
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-danger" id="delete" href="@routes.SchemaController.dropCreateUserSchema()">
                                Drop/Create</a>
                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div class="page-header-condensed">
                <h4>Teams</h4>
            </div>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.browseTeams()">
                Browse Teams</a></p>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.TeamScrapeController.scrapeTeams()">
                Scrape Team Data</a></p>
            <div class="page-header-condensed">
                <h4>Aliases</h4>
            </div>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.browseAliases()">
                Browse Aliases</a></p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div class="page-header-condensed">
                <h4>Conferences</h4>
            </div>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.browseConferences()">
                Browse Conferences</a></p>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.TeamScrapeController.scrapeConferences()">
                Scrape Conferences</a></p>
            <div class="page-header-condensed">
                <h4>Quotes</h4>
            </div>
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.browseQuotes()">
                Browse Quotes</a></p>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="page-header-condensed">
                <h4>Seasons</h4>
            </div>
            <p>
                <a type="button" class="btn btn-small btn-block btn-default" href="@routes.DataController.createSeason()"> Create Season</a>
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            <div class="page-header-condensed">
                <h4>&nbsp;</h4> <!-- Placeholder for vertical align-->
            </div>
            <p>
                <a type="button" class="btn btn-small btn-block btn-default" href="#">Scrape Games for Dates</a>
            </p>

        </div>
    </div>
    <div class="row">
        @for(s<-schedules) {
            <div class="col-sm-4">
                <div class="panel panel-default">
                    @defining(s.season.lock match {
                        case "lock"=>("","fa-lock")
                        case "updating"=>("","fa-recycle")
                        case _ => {
                            if (s.season.lockBefore.isDefined) {
                                (s.season.lockBefore.get.format(DateTimeFormatter.ISO_DATE), "fa-lock")
                            } else {
                                ("", "fa-unlock")
                            }
                        }
                    }) { tup =>
                        <div class="panel-heading">
                            <h3 class="panel-title">@s.season.year &nbsp; <i class="fa @tup._2">@tup._1</i></h3>
                        </div>
                    }
                <div class="panel-body">

                        <p><a type="button" class="btn btn-xs btn-block btn-default" href="@routes.DataController.deleteSeason(s.season.id)">
                        Delete Season&nbsp;&nbsp;<i class="fa text-danger fa-exclamation-circle"></i></a>
                        </p>
                        <p><a type="button" class="btn btn-xs btn-block btn-default" href="@routes.DataController.browseConferenceMap(s.season.id)">
                        Browse Conference Map</a>
                        </p>
                        <p><a type="button" class="btn btn-xs btn-block btn-default" href="@routes.GameScrapeController.scrapeGames(s.season.id)">
                        Scrape Games</a>
                        </p>
                        <p><a type="button" class="btn btn-xs btn-block btn-default" href="@routes.DataController.browseGames(s.season.id)">
                        Browse Games</a>
                        </p>
                        <p><a type="button" class="btn btn-xs btn-block btn-default" href="@routes.DataController.lockSeason(s.season.id)">
                        Lock Results</a>
                        </p>
                        <table class="table table-bordered table-condensed">
                            <thead/>
                            <tbody>
                                <tr><td>Games</td> <td>@s.games.size</td></tr>
                                <tr><td>First game</td> <td>@s.firstGame.map(fg => fg.format(DateTimeFormatter.ISO_DATE)).getOrElse("")</td></tr>
                                <tr><td>Last game</td> <td>@s.lastGame.map(fg => fg.format(DateTimeFormatter.ISO_DATE)).getOrElse("")</td></tr>
                                <tr><td>Results</td> <td>@s.results.size</td></tr>
                                <tr><td>First result</td> <td>@s.firstResult.map(fg => fg.format(DateTimeFormatter.ISO_DATE)).getOrElse("")</td></tr>
                                <tr><td>Last result</td> <td>@s.lastResult.map(fg => fg.format(DateTimeFormatter.ISO_DATE)).getOrElse("")</td></tr>
                                <tr><td>Teams mapped</td> <td>@s.teamsMapped.size</td></tr>
                            </tbody>
                        </table>
                    </div></div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header-condensed">
                <h4>User List</h4>
            </div>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Last</th>
                        <th>First</th>
                        <th>Email</th>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                @for(u <- userList) {
                    <tr>
                        <td>@u.lastName.getOrElse("")</td>
                        <td>@u.firstName.getOrElse("")</td>
                        <td>@u.email.getOrElse("")</td>
                        <td>
                            <a href="/deepfij/userProfile/@u.userID.toString/">@u.userID.toString</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
}
