@import com.fijimf.deepfij.models.{Quote, User}
@import controllers.nav.{Breadcrumbs, MainMeta}
@import com.fijimf.deepfij.models.S3StaticAsset
@(user: User, infos: List[S3StaticAsset])(implicit flash: Flash)
@mainX(
    MainMeta.base("Browse Static Pages", Some(user))
            .withNav("admin")
            .withCrumbs(Breadcrumbs.admin.appendLeaf("Static Pages "))
) {
    <div class="row">
        <div class="col-sm-3">
            <p><a type="button" class="btn btn-small btn-block btn-default" href="@routes.S3AdminController.createStaticPage()">Create Static Page</a></p>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-bordered">
                <thead><tr>
                    <th>Slug</th>
                    <th>Last Mod</th>
                    <th>Tags</th>
                </tr></thead>
                <tbody >
                @for(in <- infos) {
                    <tr>
                        <td><a href="@routes.S3AdminController.editStaticPage(in.relativeKey)">@in.key</a></td>
                        <td>@in.lastModified.toString</td>
                        <td>@in.tags</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
