@import com.fijimf.deepfij.auth.model.User
@import com.fijimf.deepfij.models.Quote
@import com.fijimf.deepfij.models.S3StaticAsset
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper,  infos: List[S3StaticAsset])(implicit request: RequestHeader, flash: Flash)
@main3000(displayUser,quoteWrapper) {
    <div class="row">
        <div class="col-sm-3">
            <p><a class="btn btn-small btn-block btn-default" href="@routes.S3AdminController.createStaticPage()">Create Static Page</a></p>
        </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-sm table-bordered">
                <thead><tr>
                    <th>Key</th>
                    <th>Last Mod</th>
                    <th>Tags</th>
                </tr></thead>
                <tbody >
                @for(in <- infos) {
                    <tr>
                        <td><a href="@routes.S3AdminController.editStaticPage(in.relativeKey)">@in.key</a></td>
                        <td>@in.lastModified.toString</td>
                        <td>@in.tags</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
