@import controllers.nav.Breadcrumbs
@import controllers.nav.MainMeta
@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Season
@import com.fijimf.deepfij.models.GamePrediction
@import com.fijimf.deepfij.models.Team
@import com.fijimf.deepfij.models.Schedule
@import java.time.format.DateTimeFormatter
@import java.time.LocalDate
@import org.apache.commons.lang3.StringUtils
@import controllers.LogisticPerformanceSummary
@(
        user:User,
        datePredictions:List[(LocalDate, List[GamePrediction])],
        teamPredictions:List[(Team, List[GamePrediction])],
        ps:LogisticPerformanceSummary,
        sch:Schedule
)(implicit flash: Flash)
@mainX(
    MainMeta.base("Logistic Model Results", Some(user))
            .withNav("admin")
            .withCrumbs(Breadcrumbs.admin.appendLeaf("Model Results"))
){
    <div class="row">
        <h3>Predictions</h3>
        @for(d<-datePredictions){
            <div class="col-sm-12">
                <h4>Predicted results for @d._1.format(DateTimeFormatter.ofPattern("yyyy-MM-dd"))</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Home</th>
                            <th>Prob</th>
                            <th>Away</th>
                            <th>Prob</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(g<-d._2){
                        <tr>
                        @defining(sch.gameMap.get(g.gameId)){ optGame=>
                            <td> @{optGame.map(_.date.format(DateTimeFormatter.ofPattern("yyyy-MM-dd"))).getOrElse("")} </td>
                            <td> @{optGame.map(_.homeTeamId).flatMap(tid=>sch.teamsMap.get(tid)).map(_.name).getOrElse("")} </td>
                        @if(optGame.exists(_.homeTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>x.formatted("%6.4f")).getOrElse("-")}</td>
                        }
                        @if(optGame.exists(_.awayTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>(1.0-x).formatted("%6.4f")).getOrElse("-")} </td>
                        }
                            <td> @{optGame.map(_.awayTeamId).flatMap(tid=>sch.teamsMap.get(tid)).map(_.name).getOrElse("")} </td>
                        @if(optGame.exists(_.homeTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>(1.0-x).formatted("%6.4f")).getOrElse("-")}</td>
                        }
                        @if(optGame.exists(_.awayTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>x.formatted("%6.4f")).getOrElse("-")}</td>
                        }
                        }
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
        }
    </div>
    <div class="row">
        @for(t<-teamPredictions){
            <div class="col-sm-12">
                <h4>Predicted results for @t._1.name @t._1.nickname</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Home</th>
                            <th>Prob</th>
                            <th>Away</th>
                            <th>Prob</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(g<-t._2){
                        <tr>
                        @defining(sch.gameMap.get(g.gameId)){ optGame=>
                            <td> @{optGame.map(_.date.format(DateTimeFormatter.ofPattern("yyyy-MM-dd"))).getOrElse("")} </td>
                            <td> @{optGame.map(_.homeTeamId).flatMap(tid=>sch.teamsMap.get(tid)).map(_.name).getOrElse("")} </td>
                        @if(optGame.exists(_.homeTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>x.formatted("%6.4f")).getOrElse("-")}</td>
                        }
                        @if(optGame.exists(_.awayTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>(1.0-x).formatted("%6.4f")).getOrElse("-")} </td>
                        }
                            <td> @{optGame.map(_.awayTeamId).flatMap(tid=>sch.teamsMap.get(tid)).map(_.name).getOrElse("")} </td>
                        @if(optGame.exists(_.homeTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>(1.0-x).formatted("%6.4f")).getOrElse("-")}</td>
                        }
                        @if(optGame.exists(_.awayTeamId == g.favoriteId)){
                            <td>@{g.probability.map(x=>x.formatted("%6.4f")).getOrElse("-")}</td>
                        }
                        }
                        </tr>
                    }
                    </tbody>

                </table>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Overall Model Performance</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <th></th>
                    <th>Games</th>
                    <th>Correct</th>
                    <th>Incorrect</th>
                    <th>%</th>
                    <th>&mu; Log Likelihood</th>
                </thead>
                <tbody>
                @for(s<-ps.overallSplit.sortBy(_.key)) {
                    <tr>
                        <td class="text-right">@s.key</td>
                        <td class="text-right">@s.n</td>
                        <td class="text-right">@s.correct</td>
                        <td class="text-right">@s.incorrect</td>
                        <td class="text-right">@s.pctCorrect.formatted("%7.4f")</td>
                        <td class="text-right">@s.avgLogLikelihood.formatted("%7.4f")</td>
                    </tr>
                }
                </tbody>
            </table>
            <h4>Model Performance by Estimated Probability</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <th>Probability</th>
                    <th>Games</th>
                    <th>Correct</th>
                    <th>Incorrect</th>
                    <th>%</th>
                    <th>&mu; Log Likelihood</th>
                </thead>
                <tbody>
                @for(s<-ps.splitByPct.sortBy(_.key)) {
                    <tr>
                        <td>@s.key</td>
                        <td class="text-right">@s.n (@{(100.0*s.n/ps.splitByPct.map(_.n).sum).formatted("%4.1f%%")})</td>
                        <td class="text-right">@s.correct</td>
                        <td class="text-right">@s.incorrect</td>
                        <td class="text-right">@s.pctCorrect.formatted("%7.4f")</td>
                        <td class="text-right">@s.avgLogLikelihood.formatted("%7.4f")</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4>Model Performance by Season/Month</h4>
            <table class="table table-condensed table-bordered table-striped">
            <thead>
                <th>Season</th>
                <th>Month</th>
                <th>Games</th>
                <th>Correct</th>
                <th>Incorrect</th>
                <th>%</th>
                <th>&mu; Log Likelihood</th>
                </thead>
                <tbody>
                    @for(s<-ps.seasonMonthSplits.sortBy(_.key._2.toEpochDay)) {
                        <tr>
                            <td>@s.key._1.year</td>
                            <td>@s.key._2.format(DateTimeFormatter.ofPattern("MMMM"))</td>
                            <td class="text-right" > @s.n (@{(100.0*s.n/ps.seasonMonthSplits.map(_.n).sum).formatted("%4.1f%%")})</td>
                            <td class="text-right" >@s.correct</td>
                            <td class="text-right" >@s.incorrect</td>
                            <td class="text-right" >@s.pctCorrect.formatted("%7.4f")</td>
                            <td class="text-right">@s.avgLogLikelihood.formatted("%7.4f")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Best 25 Team/Season Model Performance</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <th>Season</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Correct</th>
                    <th>Incorrect</th>
                    <th>%</th>
                    <th>&mu; Log Likelihood</th>
                </thead>
                <tbody>
                @for(s<-ps.seasonTeamSplit.sortBy(t=> t.avgLogLikelihood).take(25)) {
                    <tr>
                        <td>@s.key._1.year</td>
                        <td>@s.key._2.name</td>
                        <td class="text-right">@s.n (@{(100.0*s.n/ps.seasonTeamSplit.map(_.n).sum).formatted("%4.1f%%")})</td>
                        <td class="text-right">@s.correct</td>
                        <td class="text-right">@s.incorrect</td>
                        <td class="text-right">@s.pctCorrect.formatted("%7.4f")</td>
                        <td class="text-right">@s.avgLogLikelihood.formatted("%7.4f")</td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4>Worst 25 Team/Season Model Performance</h4>
            <table class="table table-condensed table-bordered table-striped">
                <thead>
                    <th>Season</th>
                    <th>Team</th>
                    <th>Games</th>
                    <th>Correct</th>
                    <th>Incorrect</th>
                    <th>%</th>
                    <th>&mu; Log Likelihood</th>
                </thead>
                <tbody>
                @for(s<-ps.seasonTeamSplit.sortBy(t=> -t.avgLogLikelihood).take(25)) {
                    <tr>
                        <td>@s.key._1.year</td>
                        <td>@s.key._2.name</td>
                        <td class="text-right">@s.n (@{(100.0*s.n/ps.seasonTeamSplit.map(_.n).sum).formatted("%4.1f%%")})</td>
                        <td class="text-right">@s.correct</td>
                        <td class="text-right">@s.incorrect</td>
                        <td class="text-right">@s.pctCorrect.formatted("%7.4f")</td>
                        <td class="text-right">@s.avgLogLikelihood.formatted("%7.4f")</td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Complete Training Set Results</h4>
            <table class="table table-smushed table-bordered table-striped">
                <thead><tr>
                   <th>Game Time</th>
                   <th>Home</th>
                   <th></th>
                   <th>Away</th>
                   <th></th>
                   <th>Probabilities</th>
                   <th>Correct</th>
                   <th>Log Likelihood</th>
               </tr></thead>
                <tbody >
                    @for(l<-ps.ls){
                        <tr>
                            <td>@{l.game.datetime.format(DateTimeFormatter.ISO_LOCAL_DATE_TIME)}</td>
                            <td>@{sch.teamsMap(l.game.homeTeamId).name}</td>
                            <td>@{l.homeScore.toString}</td>
                            <td>@{sch.teamsMap(l.game.awayTeamId).name}</td>
                            <td>@{l.awayScore.toString}</td>
                            <td>[@{l.homePct.formatted("%6.4f")}, @{l.awayPct.formatted("%6.4f")}]</td>
                            @if(l.correct){
                                <td style="color:green;"><i class="fa fa-check-circle" ></i></td>
                            }else{
                                <td style="color:red;"><i class="fa fa-times-circle" ></td>
                            }
                            <td>@{l.logLikelihood.formatted("%6.4f")}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
