@import com.fijimf.deepfij.models.XPredictionModel
@import com.fijimf.deepfij.models.react.{DisplayUser, QuoteWrapper}
@import java.time.format.DateTimeFormatter
@import com.fijimf.deepfij.models.nstats.predictors.PredictionResult
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper, models:List[(String, List[XPredictionModel])], predMap:Map[Long, List[PredictionResult]])(implicit request: RequestHeader, flash: Flash)
@main3000(displayUser,quoteWrapper) {
    <div class="row">
     <h4>Predictive Models</h4>
    </div>
    <div class="row">
    @for(name<-models) {
        <div class="card w-auto m-2" >
            <div class="card-header">
                <h6><em>@name._1</em></h6>
            </div>
            <div class="card-body">
            <a  class="card-link" href=@routes.PredictionController.trainModel(name._1)>Train new version</a></li>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Id</th>
                            <th>Trained On</th>
                            <th># games predicted</th>
                            <th># games correct</th>
                            <th># games incorrect</th>
                            <th/>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                    @for(p <- name._2) {
                        <tr>
                            <td>@p.version</td>
                            <td>@p.id</td>
                            <td>@{p.createdAt.format(DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss"))}</td>
                            <td>@{PredictionResult.numPredicted(predMap.getOrElse(p.id, List.empty[PredictionResult]))}</td>
                            <td>@{PredictionResult.numCorrect(predMap.getOrElse(p.id, List.empty[PredictionResult]))}</td>
                            <td>@{PredictionResult.numIncorrect(predMap.getOrElse(p.id, List.empty[PredictionResult]))}</td>
                            <td><a href="@routes.PredictionController.updatePredictions(p.key,p.version)" title="Update predictions"><span class="fa fa-refresh text-success"></span></a></td>
                            <td><a href="#" title="Delete version and predictions"><span class="fa fa-times-rectangle text-danger"></span></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
    </div>
}
