@import controllers.nav.Breadcrumbs
@import controllers.nav.MainMeta
@import com.fijimf.deepfij.models.User
@import com.fijimf.deepfij.models.Team
@import helper._
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser, quoteWrapper: QuoteWrapper,  host:String)(implicit request:RequestHeader, flash: Flash, messages: Messages)


    @main3000(displayUser,quoteWrapper) {
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-block btn-default" id="btnRequestStatus"s>
                <span class="fa fa-refresh"> </span> Refresh Status
            </button>
            <button class="btn btn-block btn-danger" id="btnTerminateCluster">
                <span class="fa fa-times"> </span> Terminate Cluster
            </button>
            <button class="btn btn-block btn-info" id="btnGenerateParquet">
                <span class="fa fa-database"> </span> Generate Parquet Files
            </button>
            <button class="btn btn-block btn-info" id="btnGenerateStats">
                <span class="fa fa-area-chart"> </span> Generate Stats from Parquet
            </button>
            <button class="btn btn-block btn-info" id="btnGenerateAll">
                <span class="fa fa-gears"> </span> Generate All
            </button>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Status <span id="status-badge" class="badge">Unknown</span></h4></div>
                <div class="panel-body">
                    <table class="table table-bordered table-sm faci"><thead>
                        <tr>
                            <th>Name</th>
                            <th style="width:20%">Status</th>
                            <th style="width:18%">Creation</th>
                            <th style="width:18%">Ready</th>
                            <th style="width:18%">Termination</th>
                        </tr>
                    </thead>
                    <tbody id="task-data">

                    </tbody></table>
                </div>
            </div>
        </div>
        <script src="/assets/javascripts/manageStats.js"></script>
        <script>
                $(function() {
                    setupManagerSocket("ws://@host@routes.SparkStatsManagerController.socket()");
                });
        </script>
    </div>
}