@import com.fijimf.deepfij.model.auth.User
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(displayUser: DisplayUser,quoteWrapper: QuoteWrapper, statements: (Iterable[String], Iterable[String]))(implicit  request: RequestHeader,flash: Flash)
@main3000(displayUser, quoteWrapper) {
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Statements</h3>
                </div>
                <div class="panel-body">
                    <pre>@statements._1.mkString(";\n")</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title">Drop Statements</h3>
                </div>
                <div class="panel-body">
                    <pre>@statements._2.mkString(";\n")</pre>
                </div>
            </div>
        </div>
    </div>
}
