@import com.fijimf.deepfij.models.{Schedule,User,Game}
@import controllers.nav.{Breadcrumbs, StandardNavBar,MainMeta}
@import java.time.LocalDate
@import com.fijimf.deepfij.models.S3BlogPost
@(user:Option[User],b:S3BlogPost)(implicit request: RequestHeader, flash: Flash)
@mainX(
    MainMeta.base(b.meta.title, user)
            .withNav("blog")
            .withCrumbs(Breadcrumbs.admin.appendLeaf("Blog"))
){
    <h2>@b.meta.title</h2>
    <h4>@b.meta.subTitle</h4>
    <h6>@b.meta.author</h6>
    <h6>@b.meta.date</h6>
@Html(S3BlogPost.renderMarkDown(new String(b.content)))
}
