@import controllers.nav.Breadcrumbs
@(breadcrumbs: Option[Breadcrumbs])
@if(breadcrumbs.isDefined) {
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                @for(b <- breadcrumbs.get.trail.tail.reverse) {
                    <li>
                        <i class="@("fa " + b.icon.getOrElse(""))" ></i> <a href=@b.link>@b.display</a>
                    </li>
                }

                <li class="active">
                    <i class="@("fa " + breadcrumbs.get.trail.head.icon.getOrElse(""))" ></i>  @breadcrumbs.get.trail.head.display
                </li>
            </ol>
        </div>
    </div>
}
