@(id:String, title:String, buttonText:String, buttonTarget:Call)(body:Html)

<div id="@id" class="modal fade" id="myModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@title</h5>
                <button  class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @body
            </div>
            <div class="modal-footer">
                <a  class="btn btn-danger" id="delete" href="@buttonTarget">@buttonText</a>
                <button  data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>