@import com.fijimf.deepfij.models.FrontPageData
@import com.fijimf.deepfij.models.react.{DisplayUser, QuoteWrapper}
@import controllers.Utils._
@(du: DisplayUser, qw:QuoteWrapper, fp:FrontPageData)(implicit request: RequestHeader, flash: Flash)
@main3000(du, qw) {
   <div class="row"><h4>@{
      fp.today.fmt("EEEE MMMM d, yyyy")
   }</h4></div>
   @qotw(fp.qotw, fp.qotwVotes, fp.qotwLastVote)
    <div class="row">
       <div class="card w-50 my-1">
           <div class="card-header">
         <h6>Today's games</h6>
           </div>
           <div class="card-body">
         <p>No games scheduled</p>
           </div>
      </div>
       <div class="card w-50 my-1">
           <div class="card-header">
               <h6>Yesterday's results</h6>
           </div>
           <div class="card-body">
               <p>No games scheduled</p>
           </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Latest News</h5>
        </div>
      <div class="card-body">
          <ul>
         @for(i<-fp.newsItems){
             <li><a href="@i._1.url">@i._1.title</a> <em class="text-muted">( @{i._2.name} @{i._1.publishTime.fmt("M/d/yyyy hh:mm a") })</em></li>
         }
          </ul>
      </div>
        <div class="card-footer text-muted text-sm-center"><a href=""#">See all.</a></div>
   </div>

}
