@import com.fijimf.deepfij.models.{Schedule,User,Game}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@import java.time.LocalDate
@import controllers.nav.DeepFijPageMetaData
@(meta:DeepFijPageMetaData, currOpt:Option[Schedule], yesterdayGames:List[Game], todayGames:List[Game])(implicit flash: Flash)
@main2(meta) {
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="jumbotron jumbofridge" style="border-radius:35px;">
                <h1>Deep Fij</h1>
                <p><em style="color:white;">Where college basketball, data quality, and statistical rigor meet before heading somewhere better.</em></p>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4>Notes</h4>
                <ul>
                    <li><strong>2017-03-06</strong>Long time between release.  Over three weeks.  Wrote about 85 unit tests, including one that catured an existing bug in the game results load.  Anyway, a ton left to do before the tourney starts</li>
                    <li><strong>2017-02-17</strong>Note sure how I want these casual release notes to go.  Anyway this version (which still lacks a version mnumber) has some more functionality and some stability fixes.  Most importantly I grabbed a logistic regression from mahout and strapped that on.  So predicitions are availible now.  Kind of cool graph (but limited Vage-lite is constraining).  Need
                    to add some sort of blog/wiki to the site so I can better attach release ntes and explanations of features and data assumptions.</li>
                    <li><strong>2017-02-07</strong>Minimal viable site released.  Preliminary features are games and results for current season, updated automatically.  Statistics calculated and some simple modelling of game results. </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h4>Like what you see?</h4>
                <p>Or maybe you hate it?</p>
                <p>Or maybe you've got some good suggestions for us to improve the site.</p>
                <p>Or maybe you're just looking to make a connection in this crazy modern world.  Regardless, we'd love to here from you.  Contact the Deep Fij team at <a href="mailto:deepfij@@gmail.com">deepfij@@gmail.com</a></p>
            </div>
        </div>

}
