@import com.fijimf.deepfij.models.{Schedule,User,Game, GamePrediction}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@import java.time.LocalDate
@import java.time.format.DateTimeFormatter
@(user: Option[User], today:LocalDate, currOpt:Option[Schedule], todayGames:List[Game], yesterday:LocalDate, tomorrow:LocalDate)(implicit flash: Flash)
@main("deepfij", "Deep Fij", today.toString, Some(Breadcrumbs.base), StandardNavBar.active("no-active",user), user,datebook=Some(today)) {
    @if(currOpt.isDefined){
        <div class="row">
            <div class="col-sm-2">
            <p>    <a class="text-left" style="margin: 3px;" href="@routes.GamesController.gamesByDate(yesterday.format(DateTimeFormatter.BASIC_ISO_DATE))">
                    <i class="fa fa-arrow-circle-o-left small" style="margin: 3px;"></i>Previous</a>
            <a class="text-right" style="margin: 3px;" href="@routes.GamesController.gamesByDate(tomorrow.format(DateTimeFormatter.BASIC_ISO_DATE))">
                    Next<i class="small fa fa-arrow-circle-o-right" style="margin: 3px;"></i></a>
                </p>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12">
                <table class="table table-condensed table-schedule" >
                    <thead><tr><th/><th>Home</th><th></th><th>Away</th><th/><th>Favorite</th><th>Spread</th></tr></thead>
                @for(g <-todayGames) {
                    <tr>
                        <td>@g.date</td>
                        <td><a href="@routes.TeamController.team(currOpt.get.teamsMap(g.homeTeamId).key)">@{currOpt.get.teamsMap(g.homeTeamId).name}</a></td>
                        <td>@{currOpt.get.resultMap.get(g.id).map(_.homeScore).getOrElse("")}</td>
                        <td><a href="@routes.TeamController.team(currOpt.get.teamsMap(g.homeTeamId).key)">@{currOpt.get.teamsMap(g.awayTeamId).name}</a></td>
                        <td>@{currOpt.get.resultMap.get(g.id).map(_.awayScore).getOrElse("")}</td>
                        <td>@{currOpt.get.predictionMap.get(g.id).flatMap(zz=>  zz.favoriteId.map(currOpt.get.teamsMap(_))).map(_.name).getOrElse("")}</td>
                        <td>@{currOpt.get.predictionMap.get(g.id).map(zz=>zz.spread).getOrElse("")}</td>

                    </tr>
                }
                </table>
            </div>
        </div>
    } else {
        <div class="row">
            <div class="col-sm-8">
                <h3><em>No schedule is currently loaded</em></h3>
            </div>
        </div>
    }
}
