@import com.fijimf.deepfij.models.User
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: Option[User])(implicit flash: Flash)
    @main("deepfij", "Deep Fij", "About", Some(Breadcrumbs.base), StandardNavBar.active("no-active"), user) {
        <div class="row">
            <div class="col-sm-3">
                <img style="padding:25px;" src="/assets/images/zeke.jpg">
            </div>
            <div class="col-sm-9">
                <h1 class="page-header">Zeke says:</h1>
                <h1><em>"I like the Deep Fij.  It is good website for me."</em></h1>
            </div>
    </div>
    }
