@import com.fijimf.deepfij.models.{Schedule,User,Game}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@import java.time.LocalDate
@(user: Option[User], today:LocalDate, currOpt:Option[Schedule], yesterdayGames:List[Game], todayGames:List[Game])(implicit flash: Flash)
@main("deepfij", "Deep Fij", today.toString, Some(Breadcrumbs.base), StandardNavBar.active("no-active",user), user) {
    @if(currOpt.isDefined){
        <div class="row">
            <div class="col-sm-5">
                <h5>Yesterday's Results</h5>
                <table class="table table-condensed table-schedule" >
                @for(g <-yesterdayGames) {
                    <tr>
                        <td>@g.date</td>
                        <td><a href="@routes.TeamController.team(currOpt.get.teamsMap(g.homeTeamId).key, currOpt.map(_.season.year))">@{currOpt.get.teamsMap(g.homeTeamId).name}</a></td>
                        <td>@{currOpt.get.resultMap.get(g.id).map(_.homeScore).getOrElse("")}</td>
                        <td><a href="@routes.TeamController.team(currOpt.get.teamsMap(g.awayTeamId).key, currOpt.map(_.season.year))">@{currOpt.get.teamsMap(g.awayTeamId).name}</a></td>
                        <td>@{currOpt.get.resultMap.get(g.id).map(_.awayScore).getOrElse("")}</td>
                    </tr>
                }
                </table>
            </div>
            <div class="col-sm-5">
                <h5>Today's Games</h5>
                <table class="table table-condensed table-schedule" >
                @for(g <-todayGames) {
                    <tr>
                        <td>@g.date</td>
                        <td><a href="@routes.TeamController.team(currOpt.get.teamsMap(g.homeTeamId).key, currOpt.map(_.season.year))">@{currOpt.get.teamsMap(g.homeTeamId).name}</a></td>
                        <td>@{currOpt.get.resultMap.get(g.id).map(_.homeScore).getOrElse("")}</td>
                        <td><a href="@routes.TeamController.team(currOpt.get.teamsMap(g.homeTeamId).key, currOpt.map(_.season.year))">@{currOpt.get.teamsMap(g.awayTeamId).name}</a></td>
                        <td>@{currOpt.get.resultMap.get(g.id).map(_.awayScore).getOrElse("")}</td>
                    </tr>
                }
                </table>
            </div>
        </div>
    } else {
        <div class="row">
            <div class="col-sm-8">
                <h3><em>No schedule is currently loade</em></h3>
            </div>
        </div>
    }
}
