@import controllers.nav.NavBar
@import controllers.nav.StandardNavBar
@import controllers.nav.Breadcrumbs
@import com.fijimf.deepfij.models.User
@import java.time.LocalDate
@import java.time.format._
@(title: String, pageHead:String, pageSubHead:String="",breadcrumbs:Option[Breadcrumbs]=None, navBar: NavBar=StandardNavBar.active(), user:Option[User]=None, icon:String="/assets/images/deepfij.png", lineColor:String="#ddd", quoteKey:Option[String]=None, datebook:Option[LocalDate]=None)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>

        <link rel="icon" href="/assets/images/favicon.png">

        <script src="/assets/lib/jquery/jquery.js"></script>
        <script src="/assets/lib/bootstrap/js/bootstrap.js"></script>

        <link rel="stylesheet" media="screen" href="/assets/lib/bootstrap/css/bootstrap.css">

        <link href="/assets/stylesheets/sb-admin.css" rel="stylesheet">

        <link href="/assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

        <link href="/assets/stylesheets/deepfij.css" rel="stylesheet">

        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="//vega.github.io/vega/vega.js" charset="utf-8"></script>
        <script src="//vega.github.io/vega-lite/vega-lite.js" charset="utf-8"></script>
        <script src="//vega.github.io/vega-embed/vega-embed.js" charset="utf-8"></script>


    </head>

    <body>

        <div id="wrapper">

                <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.IndexController.index()">Deep Fij</a>

                </div>
                <a id="quote-a" href="#"><em id="quote-em" class="pull-left quote hidden-xs"></em></a>
                    <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        @if(user.isDefined) {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                                @user.get.name <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/deepfij/signOut"><i class="fa fa-fw fa-power-off"></i> Sign Out</a>
                                </li>
                            </ul>
                        } else {
                            <a href="/deepfij/signIn" ><i class="fa fa-user"></i>
                                Sign In </a>

                        }
                    </li>
                </ul>
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                @left_nav(navBar)
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                        <!-- Page Heading -->
                    <div class="row">
                        @if(datebook.isDefined){
                            <div class="col-lg-1" style=" border: 1px solid black; padding-left: 0px; padding-right: 0px; margin-left: 15px; margin-right: 0px; width: 70px; ">
                                <h5 style="text-align: center;margin-bottom: 0px;">
                                @datebook.get.format( DateTimeFormatter.ofPattern("MMMM"))
                            </h5>
                                <h1 style=" font-size: 200%; text-align: center; margin-top: 0px; font-weight: bold; ">
                                @datebook.get.format(DateTimeFormatter.ofPattern("d"))

                                </h1>
                            </div>
                        } else {
                            <div class="col-lg-1">
                                <img class="spin" src=@icon>
                            </div>
                        }
                        <div class="col-lg-11">
                            <h3 class="page-header" style="margin-top:15px; border-bottom: 3px solid @lineColor;">
                                @pageHead
                            <small>@pageSubHead</small>
                            </h3>
                        </div>
                    </div>
                    @breadcrumb_nav(breadcrumbs)
                    @flash_message(flash)
                    <div class="row">
                        @content
                    </div>
                        <!-- /.row -->

                </div>
                    <!-- /.container-fluid -->

            </div>
                <!-- /#page-wrapper -->

        </div>
            <!-- /#wrapper -->

            <!-- jQuery -->
        <script>
            @if(quoteKey.isEmpty) {
                $.getJSON( "@routes.QuoteController.random()", function( data ) {
                    $("#quote-em").text(data.quote);
                    $("#quote-a").attr("title", data.source);
                    if (data.url.length>0){
                        $("#quote-a").attr("href",data.url).attr("target","_blank");
                    }
                });
            } else {
                $.getJSON( "@routes.QuoteController.keyed(quoteKey.get)", function( data ) {
                    $("#quote-em").text(data.quote);
                    $("#quote-a").attr("title", data.source);
                    if (data.url.length>0){
                        $("#quote-a").attr("href",data.url).attr("target","_blank");
                    }
                });
            }
        </script>
    </body>

</html>