@import com.fijimf.deepfij.models.Game
@import com.fijimf.deepfij.models.Result
@import com.fijimf.deepfij.models.Schedule
@import controllers.Utils.LocalDateTimeWrapper
@import com.fijimf.deepfij.models.XPrediction
@(ps:List[(Game, Option[Result], Option[XPrediction])])(implicit sch:Schedule)
@if(ps.isEmpty) {
    <div class="card-body"><p>No games scheduled</p></div>
} else {
    <div class="card-body">
        <table class="table table-sm">
            <thead/>
            <tbody>
            @for(t<-ps){
                @views.html.data.blocks.prediction.predictionLine(t)
            }
            </tbody>
        </table>
    </div>
}

