@import com.fijimf.deepfij.models.FrontPageData
@import com.fijimf.deepfij.models.react.{DisplayUser, QuoteWrapper}
@import controllers.Utils._
@import java.time.LocalDate
@import com.fijimf.deepfij.models.Schedule
@import com.fijimf.deepfij.models.Game
@import com.fijimf.deepfij.models.Result
@import com.fijimf.deepfij.models.XPrediction
@import com.fijimf.deepfij.models.XPredictionModel
@import java.time.LocalDateTime
@import com.fijimf.deepfij.models.nstats.predictors.PredictionResult
@(du: DisplayUser, qw:QuoteWrapper,  key:String, today:LocalDate, model:Option[XPredictionModel], trainedAt:Option[LocalDateTime], ps:List[PredictionResult])(implicit sch:Schedule, request: RequestHeader, flash: Flash)
@main3000(displayUser = du, quoteWrapper = qw) {
   <div class="row">
       <h4>@{today.fmt("EEEE MMMM d, yyyy")}</h4>
   </div>

    <div class="row">
        <div class="card w-100 my-1">
            @if(model.isDefined && trainedAt.isDefined) {
                @data.blocks.prediction.modelBox(model.get, trainedAt.get)
            } else {
                @data.blocks.prediction.modelBoxEmpty(key)
            }
            @predictionList(ps)
        </div>
    </div>
}
