@import com.fijimf.deepfij.models.react.DisplayUser
@(displayUser:DisplayUser)
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="@routes.ReactMainController.index()">
                        <span class="fa fa-newspaper">&nbsp;&nbsp;</span>
                        Front Page <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.TeamController.teams()">
                        <span class="fa fa-basketball-ball">&nbsp;&nbsp;</span>
                        Teams
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.TeamController.conferences()">
                        <span class="fa fa-table">&nbsp;&nbsp;</span>
                        Conferences
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@routes.GamesController.games(None)">
                        <span class="fa fa-calendar">&nbsp;&nbsp;</span>
                        Games
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-bar-chart-o">&nbsp;&nbsp;</span>
                        Statistics
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-grip-horizontal">&nbsp;&nbsp;</span>
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-question-circle">&nbsp;&nbsp;</span>
                        About
                    </a>
                </li>
                @if(displayUser.isAdmin){
                    <li class="nav-item">
                        <a class="nav-link" href="@routes.AdminController.index">
                            <span class="fa fa-angry">&nbsp;&nbsp;</span>
                            Admin
                        </a>
                    </li>
                }
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Favorites</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span class="fa a-star-o">&nbsp;&nbsp;</span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-star-o">&nbsp;&nbsp;</span>
                        Georgetown
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-star-o">&nbsp;&nbsp;</span>
                        Gonzaga
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-star-o">&nbsp;&nbsp;</span>
                        RPI
                    </a>
                </li>
            </ul>
        </div>
    </nav>
