@import com.fijimf.deepfij.models.{Conference, Schedule,Game, Team, User,GameLine, WonLostRecord, ConferenceStandings}
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper

@(du: DisplayUser, qw:QuoteWrapper, c: Conference, cs:ConferenceStandings,rec:List[(Conference, WonLostRecord)], nonConf:List[Game], conf:List[Game], curr:Schedule)(implicit request: RequestHeader, flash: Flash)

@main3000(du, qw) {
    <div class="row">
            <div class="col-sm-5">
                <h5>@{c.name+" Standings"}</h5>
                <table class="table table-sm table-schedule" >
                @for(r <-cs.records) {
                        <tr>
                            <td><a href="@routes.TeamController.team(r._3.key,Some(curr.season.year))">@r._3.name</a></td>
                            <td>@r._1.won</td>
                            <td>@r._1.lost</td>
                            <td>@r._2.won</td>
                            <td>@r._2.lost</td>
                        </tr>
                }
                </table>
                <h5>Conference Schedule</h5>
                <table class="table table-sm table-schedule" >
                @for(g <-conf) {
                    <tr>
                        <td>@g.date</td>
                        <td><a href="@routes.TeamController.team(curr.teamsMap(g.homeTeamId).key,Some(curr.season.year))">@{curr.teamsMap(g.homeTeamId).name}</a></td>
                        <td>@{curr.resultMap.get(g.id).map(_.homeScore).getOrElse("")}</td>
                        <td><a href="@routes.TeamController.team(curr.teamsMap(g.awayTeamId).key,Some(curr.season.year))">@{curr.teamsMap(g.awayTeamId).name}</a></td>
                        <td>@{curr.resultMap.get(g.id).map(_.awayScore).getOrElse("")}</td>
                    </tr>
                }
                </table>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <h5>@c.name vs. ...</h5>
                <table class="table table-sm table-schedule" >
                @for(r <-rec) {
                        <tr>
                            <td><a href="@routes.TeamController.conference(r._1.key)">@r._1.name</a></td>
                            <td>@r._2.won</td>
                            <td>@r._2.lost</td>
                        </tr>
                }
                </table>

                <h5>Non-Conference Schedule</h5>
                <table class="table table-sm table-schedule" >
                @for(g <-nonConf) {
                    <tr>
                        <td>@g.date</td>
                        <td><a href="@routes.TeamController.team(curr.teamsMap(g.awayTeamId).key,Some(curr.season.year))">@{curr.teamsMap(g.homeTeamId).name}</a></td>
                        <td>@{curr.resultMap.get(g.id).map(_.homeScore).getOrElse("")}</td>
                        <td><a href="@routes.TeamController.team(curr.teamsMap(g.awayTeamId).key,Some(curr.season.year))">@{curr.teamsMap(g.awayTeamId).name}</a></td>
                        <td>@{curr.resultMap.get(g.id).map(_.awayScore).getOrElse("")}</td>
                    </tr>
                }
                </table>
            </div>
        </div>
    }
