@import com.fijimf.deepfij.models.{Schedule, Conference, User,ConferenceStandings}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@import com.fijimf.deepfij.models.react.DisplayUser
@import com.fijimf.deepfij.models.react.QuoteWrapper
@(du: DisplayUser, qw:QuoteWrapper, cmap: List[(Conference,ConferenceStandings)])(implicit request: RequestHeader, flash: Flash)

@main3000(du, qw) {
    <div class="row">
        <div class="col-sm-12">
            <table>
            @for(tup <- cmap) {
                <tr>
                    @if(tup._1.logoSmUrl.isDefined) {
                        <td><img src=@tup._1.logoSmUrl.get /> </td>
                    }else {
                        <td></td>
                    }
                    <td><a href="@routes.TeamController.conference(tup._1.key)">@tup._1.name</a> </td>
                    @for(rec<-tup._2.records) {
                        @if(rec._3.logoLgUrl.isDefined) {
                            <td><a href="@routes.TeamController.team(rec._3.key,None)" title="@rec._3.name"><img src="@rec._3.logoLgUrl.get"/></a> </td>
                        } else {
                        <td> </td>
                        }
                    }
                </tr>
            }
            </table>
        </div>
    </div>
}

