@import com.fijimf.deepfij.models.User
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: Option[User], t: ModelsContext)(implicit request: RequestHeader, flash: Flash, messages: Messages)


@main(
    "deepfij",
    "Stats",
    "",
    Some(Breadcrumbs.base.appendChild("Stats", "/stats", "fa-area-chart")),
    StandardNavBar.active("stats", user),
    user,
    "/assets/images/deepfij.png",
    "#ddd"
) {

    <div class="row">
        <div class="col-sm-10">
            <h2>Statistical models available for analysis</h2>
            <ul>
                @for(s<-t.models){
                    <li>
                        <a href="@routes.StatsController.viewModel(s.key)"><h4>@s.name</h4></a>
                        <p>@s.desc</p>
                    </li>
                }
            </ul>
        </div>
    </div>
}
