@import com.fijimf.deepfij.models.{Schedule, Team, User,GameLine}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: Option[User], t: Team, curr: Schedule, back: List[Schedule], stats:List[ModelTeamContext])(implicit request: RequestHeader, flash: Flash, messages: Messages)


@main(
    "deepfij",
    t.name +" "+t.nickname,
    curr.overallRecord(t).won +"-"+ curr.overallRecord(t).lost+", "+curr.conferenceRecord(t).won+"-"+ curr.conferenceRecord(t).lost+" "+curr.conference(t).name,
    Some(Breadcrumbs.base.appendChild("Teams", "/teams", "fa-users").appendChild(t.name, "fa-eyeball", t.key)),
    StandardNavBar.active("admin",user),
    user,
    t.logoSmUrl.getOrElse("/assets/images/deepfij.png"),
    t.primaryColor.getOrElse("#ddd"),
    Some(t.key)
) {

    <div class="row">
        <div class="col-sm-4">
            <h5>Schedule</h5>
            <table class="table table-condensed table-schedule" >
            @for(g <-curr.games(t)) {
                @defining(curr.gameLine(t,g._1,g._2)){ (gl:GameLine) =>
                    <tr>
                        <td>@gl.date</td>
                        <td>@gl.vsAt</td>
                        <td><a href="@routes.TeamController.team(gl.opp.key)">@gl.opp.name</a></td>
                        @if(gl.wl=="W"){
                            <td><strong class="text-success">@gl.wl</strong></td>
                        } else {
                            <td><strong class="text-danger">@gl.wl</strong></td>
                        }
                        <td>@gl.literalScore</td>

                    </tr>
                }
            }
            </table>
        </div>
        <div class="col-sm-4">
            <h5>@{curr.conference(t).name+" Standings"}</h5>
            <table class="table table-condensed table-schedule" >
            @for(r <-curr.conferenceStandings(curr.conference(t)).records) {
                <tr>
                    <td><a href="@routes.TeamController.team(r._3.key)">@r._3.name</a></td>
                    <td>@r._1.won</td>
                    <td>@r._1.lost</td>
                    <td>@r._2.won</td>
                    <td>@r._2.lost</td>
                </tr>
            }
            </table>
            <h5>Contextual Records</h5>
            <table class="table table-condensed table-schedule" >
            @defining(curr.overallRecord(t)) { wl =>
                <tr>
                    <td>Overall</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("-")</td>
                </tr>
            }
            @defining(curr.conferenceRecord(t)) { wl =>
                <tr>
                    <td>Conference</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("-")</td>
                </tr>
            }
            @defining(curr.nonConferenceRecord(t)) { wl =>
                <tr>
                    <td>Non-Conference</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("-")</td>
                </tr>
            }
            @defining(curr.homeRecord(t)) { wl =>
                <tr>
                    <td>Home</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("-")</td>
                </tr>
            }
            @defining(curr.awayRecord(t)) { wl =>
                <tr>
                    <td>Away</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("-")</td>
                </tr>
            }
            @defining(curr.neutralRecord(t)) { wl =>
                <tr>
                    <td>Neutral</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("-")</td>
                </tr>
            }
            @defining(curr.last5Record(t)) { wl =>
                <tr>
                    <td>Last 5</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
            @defining(curr.last10Record(t)) { wl =>
                <tr>
                    <td>Last 10</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
           @defining(curr.novRecord(t)) { wl =>
                <tr>
                    <td>November</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
           @defining(curr.decRecord(t)) { wl =>
                <tr>
                    <td>December</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
           @defining(curr.janRecord(t)) { wl =>
                <tr>
                    <td>January</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
           @defining(curr.febRecord(t)) { wl =>
                <tr>
                    <td>February</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
           @defining(curr.marRecord(t)) { wl =>
                <tr>
                    <td>Last 10</td>
                    <td>@wl.won</td>
                    <td>@wl.lost</td>
                    <td>@wl.pct.map(_.formatted("%6.4f")).getOrElse("")</td>
                </tr>
            }
            </table>
        </div>
        <div class="col-sm-4">
            <h5>Modeled Statistics</h5>
            @for(tms <-stats) {
                <div class="panel-group" id="accordion" style="padding-bottom:0; margin-bottom:0;  border-top:1px solid #ddd;">
                    <div class="panel">
                        <div class="panel-heading" style="padding:0; ">
                            <h5 style="padding:0;">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@tms.modelKey"> @tms.model.name</a>
                            </h5>
                        </div>
                        <div id="collapse-@tms.modelKey" class="panel-collapse collapse">
                            <div class="panel-body" style="padding:0; border-top:0;">
                                <table class="table table-condensed table-schedule" >
                                    <tr>
                                        <th></th>
                                        <th>Date</th>
                                        <th >Rank</th>
                                        <th >Value</th>
                                    </tr>
                                    @for(sms<-tms.stats) {
                                        @defining(tms.values(sms)) { ss =>
                                            <tr>
                                                <th><a href="@routes.StatsController.viewStat(tms.modelKey, sms.key)"> @sms.name</a></th>
                                                <td>@ss(0)._1</td>
                                                <td>@ss(0)._2</td>
                                                <td>@ss(0)._3.value.formatted("%8.3f")</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right text-muted">Previous</td>
                                                <td>@ss(1)._1</td>
                                                <td>@ss(1)._2</td>
                                                <td>@ss(1)._3.value.formatted("%8.3f")</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right text-muted">Week Ago</td>
                                                <td>@ss(2)._1</td>
                                                <td>@ss(2)._2</td>
                                                <td>@ss(2)._3.value.formatted("%8.3f")</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right text-muted">Best</td>
                                                <td>@ss(3)._1</td>
                                                <td>@ss(3)._2</td>
                                                <td>@ss(3)._3.value.formatted("%8.3f")</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right text-muted">Worst</td>
                                                <td>@ss(4)._1</td>
                                                <td>@ss(4)._2</td>
                                                <td>@ss(4)._3.value.formatted("%8.3f")</td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
}
