@import com.fijimf.deepfij.models.{Schedule, Team, User}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: Option[User], t: Team, curr: Schedule, stats:List[ModelTeamContext])(implicit request: RequestHeader, flash: Flash, messages: Messages)


@main(
    title = "deepfij",
    pageHead = t.name + " " + t.nickname,
    pageSubHead = curr.overallRecord(t).won + "-" + curr.overallRecord(t).lost + ", " + curr.conferenceRecord(t).won + "-" + curr.conferenceRecord(t).lost + " " + curr.conference(t).name,
    breadcrumbs = Some(Breadcrumbs.base.appendChild("Teams", "/teams", "fa-users").appendChild(t.name, "fa-eyeball", t.key)),
    navBar = StandardNavBar.active("admin", user),
    user = user,
    icon = t.logoSmUrl.getOrElse("/assets/images/deepfij.png"),
    lineColor = t.primaryColor.getOrElse("#ddd"),
    quoteKey = Some(t.key)
) {

    <div class="row">
        <div class="col-sm-4">
            @teamdata.schedule(curr,t)
        </div>
        <div class="col-sm-4">
            @teamdata.conference_standings(curr.conference(t).name, curr.conferenceStandings(curr.conference(t)))
            @teamdata.contextual_records(curr, t)
        </div>
        <div class="col-sm-4">
            @teamdata.stat_panel(stats)
        </div>
    </div>
}
