@import com.fijimf.deepfij.models.{Schedule, Team, User,GameLine}
@import controllers.nav.{Breadcrumbs, StandardNavBar}
@(user: Option[User], t: Team, curr: Schedule, back: List[Schedule], stats:List[ModelTeamContext])(implicit request: RequestHeader, flash: Flash, messages: Messages)


@main(
    "deepfij",
    t.name +" "+t.nickname,
    curr.overallRecord(t).won +"-"+ curr.overallRecord(t).lost+", "+curr.conferenceRecord(t).won+"-"+ curr.conferenceRecord(t).lost+" "+curr.conference(t).name,
    Some(Breadcrumbs.base.appendChild("Teams", "/teams", "fa-users").appendChild(t.name, "fa-eyeball", t.key)),
    StandardNavBar.active("admin",user),
    user,
    t.logoSmUrl.getOrElse("/assets/images/deepfij.png"),
    t.primaryColor.getOrElse("#ddd"),
    Some(t.key)
) {

    <div class="row">
        <div class="col-sm-4">
            @teamdata.schedule(curr,t)
        </div>
        <div class="col-sm-4">
            @teamdata.conference_standings(curr.conference(t).name, curr.conferenceStandings(curr.conference(t)))
            @teamdata.contextual_records(curr, t)
        </div>
        <div class="col-sm-4">
            @teamdata.stat_panel(stats)
        </div>
    </div>
}
